.btn-blue{
	background-color: #040273;
	padding: 15px 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: "Sedan SC", serif;
}

.btn-blue:hover {
    background-color: #B59410;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}